:root {
    --roboto-condensed-font: "Roboto Condensed", sans-serif;
    --roboto-font: "Roboto", sans-serif;

    --main-color: #2B4074;
    --brown-color: #4A4A4A;
}

/* FREQUENTLY REPEATED VALUES */
.rounded-border {
    border-radius: 5px;
}

/* MAIN STYLES */
html, body {
    height: 100%;

    overflow-x: hidden;
    background-color: var(--main-color);
}

h2 {
    font-weight: normal;
    font-size: 48px;
}

h3 {
    font-weight: normal;
    font-size: 1.5rem;
}

hr {
    width: 100px;
    height: 8px;
    margin: 0;

    border: none;
    background-color: var(--main-color);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;

    height: 100%;
}

.container--padding {
    padding: 0 100px;
    height: 100%;
    box-sizing: border-box;
}

.centered-line {
    display: block;
    margin: 0 auto;
}

/* DOCUMENT SECTIONS */

header {
    height: 100px;
    width: 100%;
}

.top-emblem {
    position: absolute;
    top: 17px;
    left: 153px;
    max-width: 100px;
}

.menu-button {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 135px;
    top: 30px;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url("images/menu-button.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.preview {
    height: 100%;
    max-height: 668px;
    width: auto;
    background-image: url("images/bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.preview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent overlay */

    z-index: 1;
}

.preview--flexbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    font-family: var(--roboto-condensed-font);
    z-index: 2;

    height: 100%;
}

.preview--flexbox h1 {
    color: white;
    font-weight: normal;
    font-size: 6rem;
    max-width: 40%;
    margin: 0;
}

.preview--paragraph {
    color: white;
    font-size: 24px;
    max-width: 60%;
}

.preview--line {
    background-color: var(--brown-color);
    width: 61px;
    height: 8px; !important;
    margin: 24px;
    display: none;
}

.details {
    cursor: pointer;
    background-color: var(--main-color);
    font-family: var(--roboto-font);
    color: white;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 300;
}

.pagination-dots {
    margin-top: auto;
    margin-bottom: 80px;

    z-index: 2;
}

.pagination-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%; /* Делаем кнопки круглыми */
    margin: 0 5px; /* Пространство между кнопками */
    cursor: pointer;
}

.top-pagination-dot {
    background-color: white;
    border: 1px solid white;
}

.bottom-pagination-dot {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.active-transparent {
    background-color: transparent;
}

.arrows {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 1px;
}

.arrow {
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.left-arrow {
    background-image: url("images/left.png");
    background-color: var(--main-color);
}

.arrows .right-arrow {
    background-image: url("images/right.png");
}

.call-us {
    height: 190px;

    color: white;
    font-family: var(--roboto-condensed-font);
}

.call-us--flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 100%;
}

.call-us-text {
    width: 30%;
}

.call-us p {
    font-family: "Dosis", sans-serif;
    font-weight: 100;
}

.call-us-btn {
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;

    color: var(--main-color)
}

.service {
    height: 546px;

    background-color: white;
    font-family: var(--roboto-condensed-font);
}

.service--flexbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    height: 100%;
}

.service-description {
    padding: 30px 62px;
    display: flex;
    flex-direction: column;
    width: 35%;

    box-sizing: border-box;
}

.service-description h2 {
    color: var(--main-color);
}

.service--main-description {
    font-size: 24px;
    color: var(--brown-color);
    font-family: var(--roboto-font);
}

.service-sub-description {
    color: #797979;
    font-family: var(--roboto-font);
    font-size: 18px;
    width: 70%;

    padding-top: 15px;
}

.service-cards {
    flex-grow: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;

    color: var(--main-color);
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #F9F6E5 solid 1px;

    position: relative;
}

.service-card::before {
    opacity: 0;

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid var(--main-color);

    transition: opacity 0.5s ease;
}

.service-card-title {
    text-transform: uppercase;
    color: var(--brown-color);
    font-size: 16px;
}

.service-card-hidden {
    position: absolute;
    bottom: 10px;
    width: 80%;
    font-size: 16px;

    transition: opacity 0.5s ease;
    opacity: 0;
}

.service-card-hidden a {
    font-weight: 600;
    letter-spacing: 1px;
}

.service-card-hidden p {
    color: #9B9B9B;
}

.service-card-visible {
    transition: transform 0.5s ease;
}

.service-card:hover .service-card-visible {
    transform: translateY(-30px);
}

.service-card:hover::before,
.service-card:hover .service-card-hidden {
    opacity: 1;
    cursor: pointer;

}

.projects {
    height: 618px;

    background: linear-gradient(to bottom, var(--main-color), rgba(243, 239, 239, 0.94));
    font-family: var(--roboto-condensed-font);
}

.flex-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-projects hr {
    background-color: white;
}

.flex-projects--header {
    color: white;
    text-transform: capitalize;
    margin-top: 80px;
}

.project-cards {
    padding: 84px 0;

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    text-align: center;
    color: var(--main-color);
    font-family: var(--roboto-condensed-font);
    font-weight: 700;
    letter-spacing: 2px;
}

.project-card {
    margin-bottom: 20px;
}

.project-image-wrapper {
    width: 19vw;
    max-width: 270px;
    position: relative;
}

.project-image {
    width: 100%;
    height: auto;
}

.project-hover {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;

    background-image: url("images/info-bg.png");
    border-radius: 10px;

    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-hover:hover {
    opacity: 1;
}

.project-btn {
    width: 37px;
    height: 37px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    cursor: pointer;
}

.search {
    background-image: url("images/search-button.png");
}

.info {
    background-image: url("images/info-button.png");
}

.team-section {
    background-color: white;
}

.team {
    display: flex;
    align-items: start;
    gap: 10%;
    padding: 80px 0;

    position: relative;

    box-sizing: border-box;
}

.team-image {
    width: 32vw;
    height: auto;
}

.team-description {
    max-width: 40%;
    color: #9B9B9B;
}

.team-description--header {
    margin: 0 0 15px 0;
    font-size: 48px;

    font-family: var(--roboto-condensed-font);
    color: var(--brown-color);
}

.team-description--paragraph {
    line-height: 24px;
    font-size: 18px;
    padding: 40px 0;
    margin: 0;

    font-family: var(--roboto-font);
}

.watch-video {
    margin-top: auto;
    font-weight: 500;
}

.watch-video {
    cursor: pointer;
    background-color: var(--main-color);
    font-family: var(--roboto-font);
    color: white;
    width: 230px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
}

.last-news {
    /* can't use flex-box here because of columns: 270px; in .news-cards */

    height: 1050px;
    width: auto;
    background-color: #F9F6E5;
    color: var(--brown-color);

    font-family: var(--roboto-condensed-font);
}

.last-news h2 {
    margin: 0;
    padding: 60px 0 30px 0;
    text-align: center;
}

.news-cards {
    columns: 250px;
    padding-top: 100px;
}

.inner-news-card {
    position: relative;
    margin-bottom: 30px;
    width: 250px;
    font-size: 16px;
}

.inner-news-card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid var(--main-color);
    z-index: 2;
}

.inner-news-card img {
    display: block;
    width: 100%;
    height: auto;
}

.card-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.inner-news-card:hover .card-overlay {
    opacity: 1;
}

.inner-news-card p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: white;

    margin: 0;
    padding: 10px 0 0 10px;

    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: 2px;

    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    z-index: 1;
}

.inner-news-card:hover p {
    background-color: var(--main-color);
    color: white;
    transform: translateY(-30px);
}

/* Кнопка "Инфо" */
.info-button {
    opacity: 0; /* Скрыта изначально */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без границы */
    background-image: url("images/white-info-button.png");
    cursor: pointer;

    transition: opacity 0.3s ease; /* Плавное появление кнопки */
    z-index: 2; /* Поверх затемнения */
}

.inner-news-card:hover .info-button {
    opacity: 1; /* Появление кнопки */
}

.quote {
    height: 500px;
    background-color: white;

    font-family: var(--roboto-condensed-font);
    color: var(--brown-color);
}

.quote--flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
    box-sizing: border-box;
    height: 100%;
}

.quote-text {
    text-align: center;
    max-width: 60%;
    font-size: 36px;
}

.quote-text span {
    color: var(--main-color);
    font-weight: 500;
}

.quote-source {
    font-style: normal;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
}

footer {
    position: relative;
}

.bot-emblem {
    position: absolute;
    width: 230px;
    height: 60px;
    background-color: var(--main-color);

    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); /* Центрируем фон по изображению */
}

.footer--flexbox {
    display: flex;
    flex-direction: column;

    letter-spacing: 2px;

    padding: 10% 0;
    gap: 100px;
}

.footer--flexbox > p {
    color: white;
    font-size: 24px;
    font-weight: 300;

    width: 50%;
    font-family: var(--roboto-font);
}

.networks-btns {
    height: 63px;

    display: flex;

    flex-direction: row;
}

.networks-btn {
    flex: 1;
    cursor: pointer;

    background: none no-repeat center;
    border: 1px solid #7EBF84;
}

.middle-networks-btn {
    border-left: none;
}

.right-btn-border {
    border-right: none;
}

.facebook {
    background-image: url("images/networks-buttons/facebook.png");
}

.google {
    background-image: url("images/networks-buttons/google.png");
}

.twitter {
    background-image: url("images/networks-buttons/twitter.png");
}

.pinterest {
    background-image: url("images/networks-buttons/pinterest.png");
}

.footer-navigation {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
}

.footer-nav-flex-column {
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    color: white;
}

.footer-nav-flex-column h4 {
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 500;

    font-family: var(--roboto-condensed-font);
}

.footer-navigation p,
.footer-link {
    font-size: 12px;
    font-weight: 300;
    color: inherit;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 5px;

    font-family: var(--roboto-font);
}

.up {
    position: absolute;

    width: 100%;
    background-color: #F9F6E5;
}

.up-block {
    margin-right: 10%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    font-family: var(--roboto-condensed-font);
    color: var(--brown-color);
    font-size: 16px;
}

.up-block a {
    cursor: pointer;

    background: url("images/up.png") no-repeat center;
    border: none;
    width: 30px;
}
