/* frequently repeated values */
.roboto-condensed-font {
    font-family: "Roboto Condensed", sans-serif;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
}

.pastel-blue-text {
    color: #2B4074;
}

.brown-color {
    color: #4A4A4A;
}

/* main styles */
html, body {
    height: 100%; /* Гарантирует, что html и body заполняют весь экран */
    margin: 0; /* Убираем любые стандартные отступы */
    padding: 0;
    overflow-x: hidden; /* Убираем горизонтальный скроллинг */
    background-color: #2B4074; /* Установите цвет фона, чтобы белый не был виден */
}

header {
    height: 100px;
    width: 100%;
    position: relative;
}

h2 {
    font-weight: normal;
    font-size: 3.8vw;
}

.container-md {
    height: 580px;
    width: auto;
}

.emblem {
    position: absolute;
    top: 17px;
    left: 11%;
    max-width: 100px;
}

.menu-button {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 9%;
    top: 30px;
    cursor: pointer;
    background-image: url("/images/menu-button.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.preview {
    min-height: 80vh;
    background-image: url("/images/bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 4%;
}

.preview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent overlay */
    z-index: 1; /* Ensures it is behind the content */
}

.preview h1 {
    color: white;
    font-weight: normal;
    z-index: 2;

    padding-top: 3%;
}

h1 span {
    display: block; /* Each word takes full width of its line */
    font-size: 6vw;
    color: white; /* Adjust based on your design */
}

.preview p {
    z-index: 2;

    color: white;
    font-size: 2vw;
    max-width: 60%;
}

.details {
    background: #2B4074;
    cursor: pointer;
    border-radius: 5px; /* Optional: Adds rounded corners */
    color: white;
    width: 200px;
    height: 50px;
    font-size: 1vw;

    z-index: 2;
}

.arrows {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    z-index: 2;

    display: flex;
    flex-direction: column; /* Кнопки будут располагаться в колонку */
    justify-content: center;
    align-items: center;
    gap: 1px; /* Расстояние между кнопками */
}

.arrow {
    width: 56px;
    height: 56px;
    border: none;
    color: white;
    cursor: pointer;

    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Избегаем повторения изображения */
    background-size: 30%; /* Масштабируем изображение внутри кнопки */
}

.arrows .left-arrow {
    background-color: #2B4074; /* Цвет левой кнопки */

    background-image: url("/images/left.png"); /* Путь к изображению стрелки */
}

.arrows .right-arrow {
    background-image: url("/images/right.png"); /* Путь к изображению стрелки */
}

.pagination-dots {
    margin-top: auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%; /* Делаем кнопки круглыми */
    background-color: rgba(0, 0, 0, 100); /* Прозрачный цвет для неактивных кнопок */
    border: 1px solid white; /* Белый бордер */
    margin: 0 5px; /* Пространство между кнопками */
    cursor: pointer;
}

.dot.active {
    background-color: white;
}

.call-us {
    height: 192px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: white;
}

.call-us div {
    width: 500px;
}

.call-us div h3 {
    font-weight: normal;
    /*font-size: 2rem;*/
    font-size: 1.5vw;
}

.call-us div p {
    font-family: "Dosis", sans-serif;
    font-weight: 100;
    font-size: 1vw;
}

.call-us-btn {
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.service {
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.service-description {
    padding-left: 62px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 35%;
}

.main-description {
    font-size: 1.8vw;
}

.line-img {
    width: 120px;
}

.centered-line {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service-sub-description {
    color: #797979;
    font-size: 1vw;
    max-width: 400px;

    padding-top: 15px;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 карточки в строке */
    grid-template-rows: repeat(auto-fill, 1fr); /* Равномерное распределение строк */
    flex-grow: 1; /* Контейнер карточек займёт оставшееся пространство */
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Центрирование текста внутри блока */
    border: #F9F6E5 solid 1px;

    position: relative;
}

.card-text {
    text-transform: uppercase;
}

.card-hidden {
    display: none;
    color: #9B9B9B;

    position: absolute; /* Абсолютное позиционирование текста */
    bottom: 10px; /* Появляется внизу карточки (или по другому желаемому месту) */
}

.card:hover {
    cursor: pointer;
    border: #2B4074 solid 4px;
    justify-content: flex-start;
    padding-top: 20px;
}

.card:hover .card-hidden {
    display: block;
}

.card-image {
    filter: sepia(1) saturate(10000%) hue-rotate(220deg) brightness(0.5);
}

.projects {
    background: linear-gradient(to bottom, #2B4074, rgba(243, 239, 239, 0.94)); /* Сине-белый градиент сверху вниз */
}

.projects h2 {
    color: white;

    text-align: center;
}

.project-cards {
    margin: 100px 200px;

    display: flex;
    justify-content: space-around;
    text-align: center;
}

.project-image-wrapper {
    position: relative;
}

.project-hover {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%; /* Размер жёлтого фона меньше, чем у изображения */
    height: 90%; /* Высота жёлтого фона меньше, чем у изображения */

    background-image: url("/images/info-bg.png");
    border-radius: 10px; /* Если нужно, добавляем скругление */

    transform: translate(-50%, -50%); /* Центрируем фон по изображению */
    opacity: 0; /* Изначально скрыт */
    transition: opacity 0.3s ease; /* Плавное появление фона */

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-btn {
    width: 37px; /* Задаём размеры кнопок */
    height: 37px;
    background-size: contain; /* Фон будет полностью видим */
    background-repeat: no-repeat;
    margin: 10px;
    display: block;
    cursor: pointer; /* Курсор как у кнопки */
}

.search {
    background-image: url("/images/search-button.png");
}

.info {
    background-image: url("/images/info-button.png");
}

.project-hover:hover {
    opacity: 1;
}

.team {
    background-color: white;

    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 10%;
    padding-left: 15%;
    padding-top: 5%;
}

.team > img {
    border-radius: 5px;
}

.team-description {
    max-width: 40%;
    color: #9B9B9B;
    font-size: 1.2vw;
}

.team-description h2 {
    margin: 0 0 15px 0;
}

.team-description p {
    margin: 7% 0;
}

.team-description button {
    margin-top: auto;
}

.last-news {
    height: 1050px;
    width: auto;
    background-color: #F9F6E5;
}

.last-news h2 {
    margin: 0;
    padding: 3% 0 1% 0;
    text-align: center;
}

.news-cards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    justify-content: space-around;

    margin: 80px 250px 0 250px;
    gap: 15px;
}

.news-card {
    display: block;
}

.news-card div {
    margin-bottom: 30px;

    display: flex;
    flex-direction: column; /* Размещает элементы в колонку, чтобы <img> и <p> шли один под другим */
    align-items: flex-start; /* Выравнивает элементы по левому краю */
}

.news-card div > img {
    display: block;
    border-radius: 5px;
    width: 100%;
    margin: 0;
}

.news-card p {
    margin: 0;
    padding: 10px 0 0 10px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 2px;
}

.test {
    height: 300px;
    width: auto;
}
.test2 {
    height: 400px;
    width: auto;
}
